
/* Basic layout cleanup and spacing */
.md-typeset h1, .md-typeset h2 {
  font-weight: 600;
}
.md-typeset p {
  line-height: 1.6;
}

:root {
  --md-primary-fg-color: #111F36;
  --md-accent-fg-color: #00B8D4;
  --md-default-bg-color: #BFBDAB;
}
